<header>
  <h1>Poe Chaos Recipe Counter</h1>
</header>
<div class="container">
  <app-item-counter item="Helmet"></app-item-counter>
  <app-item-counter item="Weapon"></app-item-counter>
  <app-item-counter item="Armor"></app-item-counter>
  <app-item-counter item="Gloves"></app-item-counter>
  <app-item-counter item="Boots"></app-item-counter>
  <app-item-counter item="Belt"></app-item-counter>
  <app-item-counter item="Amulet"></app-item-counter>
  <app-item-counter item="Ring"></app-item-counter>
  <app-vender-receita></app-vender-receita>
</div>
