<header>
  <h1>Poe Chaos Recipe Counter</h1>
</header>
<div class="container">
  <app-item-counter item="Helmet" image="helmets"></app-item-counter>
  <app-item-counter item="Weapon" image="weapons"></app-item-counter>
  <app-item-counter item="Armor" image="body_armor"></app-item-counter>
  <app-item-counter item="Gloves" image="gloves"></app-item-counter>
  <app-item-counter item="Boots" image="boots"></app-item-counter>
  <app-item-counter item="Belt" image="belts"></app-item-counter>
  <app-item-counter item="Amulet" image="amulets"></app-item-counter>
  <app-item-counter item="Ring" image="rings"></app-item-counter>
  <app-vender-receita></app-vender-receita>
</div>
